<launch>

  <arg name="start" default="0"/>
  <arg name="dur" default="100000"/>
  <arg name="rate" default="1"/>
  <arg name = "odom" default = "/odom"/>
  <arg name = "scan" default = "/scan"/>
  <arg name = "points" default = "/velodyne_points"/>
  <arg name = "tf" default = "/tf"/>
  <arg name = "rviz" default = "true"/>

  <param name="/use_sim_time" value="true" />
  <param name="use_imu" value="false"/>
  <param name="use_laser" value="true"/>
  <param name="use_point_cloud" value="false"/>
  <param name="odom_model" value="diff" />
  <param name="odom" value="$(arg odom)"/>
  <param name="scan" value="$(arg scan)"/>
  <param name="points" value="$(arg points)"/>
  <param name="linear_velocity_cov" value="0.05"/>
  <param name="angular_velocity_cov" value="0.08"/>
  <param name="obervation_cov" value="0.05"/>
  <param name="intensity_min" value="160."/>
  <param name="reflector_min_length" value="0.18"/>
  <param name="reflector_length_error" value="0.06"/>

  <param name="sensor_to_base_link" value="0.13686,0.0,0.0" type="str" />
  <param name="start_pose" value="0.0,0.0,0.0" type="str" />
  <param name="map_path" value="$(find reflector_ekf_slam)/test.txt" type="str"/>
  <param name="result_path" value="$(find reflector_ekf_slam)/result.txt" type="str"/>

  <node name="slam_node" pkg="reflector_ekf_slam" type="slam_node"
        cwd="node" output="screen" required="true"/>


</launch>